/*tudimianji t1*/
#tudimianji{
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 1px solid rgba(34, 36, 38, 0.15);
}

#tudimianji_main {
    float: left;
    width: 600px;
}

#tudimianji_sidebar {
    float: right;
    width: 160px;
}

#tudimianji_sequence {
    width: 600px;
    height: 50px;
}

#tudimianji_legend {
    padding: 10px 0 0 3px;
}

#tudimianji_sequence text, #tudimianji_legend text {
    font-weight: 400;
    fill: #fff;
}

#tudimianji_chart {
    position: relative;
}

#tudimianji_chart path {
    stroke: #fff;
}

#tudimianji_explanation {
    position: relative;
    top: 280px;
    left: 210px;
    width: 140px;
    text-align: center;
    color: #666;
    z-index: -1;
    font-size: 10px;
    visibility: visible;
    height:54px;
}

#tudimianji_percentage {
    font-size: 2.5em;
}

/*senlinlinmu t2*/
#senlinlinmu{
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 1px solid rgba(34, 36, 38, 0.15);
}

/*linzhong t3*/
#linzhong{
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 1px solid rgba(34, 36, 38, 0.15);
}

#linzhongmianji_main {
    float: left;
    width: 300px;
}

#linzhongmianji_sidebar {
    float: right;
}

#linzhongmianji_sequence {
    width: 545px;
    height: 50px;
}

#linzhongmianji_legend {
    padding: 10px 0 0 3px;
}

#linzhongmianji_sequence text, #linzhongmianji_legend text {
    font-size: 12px;
    fill: #fff;
}

#linzhongmianji_chart {
    position: relative;
}

#linzhongmianji_chart path {
    stroke: #fff;
}

#linzhongmianji_explanation {
    position: relative;
    top: 140px;
    left: 100px;
    width: 100px;
    text-align: center;
    color: #666;
    z-index: -1;
    font-size: 8px;
    visibility: visible;
    height:20px;
}

#linzhongmianji_percentage {
    font-size: 2.5em;
}


#linzhongxuji_main {
    float: left;
    width: 300px;
}

#linzhongxuji_sidebar {
    float: right;
}

#linzhongxuji_sequence {
    width: 545px;
    height: 50px;
}

#linzhongxuji_legend {
    padding: 10px 0 0 3px;
}

#linzhongxuji_sequence text, #linzhongxuji_legend text {
    font-size: 12px;
    fill: #fff;
}

#linzhongxuji_chart {
    position: relative;
}

#linzhongxuji_chart path {
    stroke: #fff;
}

#linzhongxuji_explanation {
    position: relative;
    top: 140px;
    left: 100px;
    width: 100px;
    text-align: center;
    color: #666;
    z-index: -1;
    font-size: 8px;
    visibility: visible;
    height:20px;
}

#linzhongxuji_percentage {
    font-size: 2.5em;
}


/*qiaomulin t4*/
#qiaomulin{
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 1px solid rgba(34, 36, 38, 0.15);
}

#qiaomulinmianji_main {
    float: left;
    width: 300px;
}

#qiaomulinmianji_sidebar {
    float: right;
}

#qiaomulinmianji_sequence {
    width: 545px;
    height: 50px;
}

#qiaomulinmianji_legend {
    padding: 10px 0 0 3px;
}

#qiaomulinmianji_sequence text, #qiaomulinmianji_legend text {
    font-size: 12px;
    fill: #fff;
}

#qiaomulinmianji_chart {
    position: relative;
}

#qiaomulinmianji_chart path {
    stroke: #fff;
}

#qiaomulinmianji_explanation {
    position: relative;
    top: 140px;
    left: 100px;
    width: 100px;
    text-align: center;
    color: #666;
    z-index: -1;
    font-size: 8px;
    visibility: visible;
    height:20px;
}

#qiaomulinmianji_percentage {
    font-size: 2.5em;
}


#qiaomulinxuji_main {
    float: left;
    width: 300px;
}

#qiaomulinxuji_sidebar {
    float: right;
}

#qiaomulinxuji_sequence {
    width: 545px;
    height: 50px;
}

#qiaomulinxuji_legend {
    padding: 10px 0 0 3px;
}

#qiaomulinxuji_sequence text, #qiaomulinxuji_legend text {
    font-size: 12px;
    fill: #fff;
}

#qiaomulinxuji_chart {
    position: relative;
}

#qiaomulinxuji_chart path {
    stroke: #fff;
}

#qiaomulinxuji_explanation {
    position: relative;
    top: 140px;
    left: 100px;
    width: 100px;
    text-align: center;
    color: #666;
    z-index: -1;
    font-size: 8px;
    visibility: visible;
    height:20px;
}

#qiaomulinxuji_percentage {
    font-size: 2.5em;
}