#tudimianji{
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 1px solid rgba(34, 36, 38, 0.15);
}

#tudimianji_main {
    float: left;
    width: 600px;
}

#tudimianji_sidebar {
    float: right;
    width: 160px;
}

#tudimianji_sequence {
    width: 600px;
    height: 50px;
}

#tudimianji_legend {
    padding: 10px 0 0 3px;
}

#tudimianji_sequence text, #tudimianji_legend text {
    font-weight: 400;
    fill: #fff;
}

#tudimianji_chart {
    position: relative;
}

#tudimianji_chart path {
    stroke: #fff;
}

#tudimianji_explanation {
    position: relative;
    top: 280px;
    left: 210px;
    width: 140px;
    text-align: center;
    color: #666;
    z-index: -1;
    font-size: 12px;
    visibility: visible;
    height:54px;
}

#tudimianji_percentage {
    font-size: 2.5em;
}


#senlinlinmu{
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 1px solid rgba(34, 36, 38, 0.15);
}


